{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2020
  }
}
